body {
  font-family: Arial;
  background-color: #f4f6f8;
}

.container {
  text-align: center;
  margin-top: 30px;
}

.form {
  margin: 20px auto;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}